@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-arrow {
  margin-top: 40px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.next-arrow {
  margin-left: 70px;
}

.prev-arrow {
  position: absolute;
  bottom: 0;
}

*{
    transition: 300ms;
}



.buttonG{
  padding: 11px 30px;
  border-radius: 50px;
  background-color: #088269;
  border: 1px solid #088269;
  color: white;
  font-size: 16px;
}
.buttonW{
  padding: 11px 30px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #088269;
  color: #088269;
  font-size: 16px;
}